@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.chat-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message-list .message {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

.overflow-y-scroll {
    overflow-y: scroll;
}
